doctype html
head
  title
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style(type='text/css').
    #outlook a {
    padding: 0;
    }
    .ReadMsgBody {
    width: 100%;
    }
    .ExternalClass {
    width: 100%;
    }
    .ExternalClass * {
    line-height: 100%;
    }
    body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    }
    table,
    td {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    }
    img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    }
    p {
    display: block;
    margin: 13px 0;
    }
  style(type='text/css').
    @media only screen and (max-width:480px) {
    @-ms-viewport {
    width: 320px;
    }
    @viewport {
    width: 320px;
    }
    }
  style(type='text/css').
    @media only screen and (min-width:480px) {
    .mj-column-per-100 {
    width: 100% !important;
    }
    }
  style(type='text/css').
div(style='background-color:#fff;')
  div(style='Margin:0px auto;max-width:600px;')
    table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
      tbody
        tr
          td(style='border-bottom:#283655 solid 5px;direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;')
  div(style='background:#d0e1f910;background-color:#d0e1f910;Margin:0px auto;max-width:600px;')
    table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#d0e1f910;background-color:#d0e1f910;width:100%;')
      tbody
        tr
          td(style='border:#4d648d45 solid 1px;border-top:0px;direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;')
            .mj-column-per-100.outlook-group-fix(style='font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:bottom;width:100%;')
              table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:bottom;' width='100%')
                tr
                  td(align='center' style='font-size:0px;padding:10px 25px;word-break:break-word;')
                    table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:collapse;border-spacing:0px;')
                      tbody
                        tr
                          td(style='width:64px;')
                            img(height='auto' src='https://res.cloudinary.com/dbrp1arte/image/upload/v1684673890/main-logo_pmhbp5.png' style='border:0;display:block;outline:none;text-decoration:none;width:100%;')
                tr
                  td(align='center' style='font-size:0px;padding:10px 25px;padding-bottom:40px;word-break:break-word;')
                    div(style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:28px;font-weight:bold;line-height:1;text-align:center;color:#283655;")
                      | #{heading}
                tr
                  td(align='left' style='font-size:0px;padding:10px 25px;word-break:break-word;')
                    div(style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:16px;line-height:22px;text-align:left;color:#283655;")
                      | Hello 
                      strong #{userName}
                      | !
                      br
                      br
                      | #{description1}
                      strong #{notiName}
                      | #{description2}
                tr
                  td(align='center' style='font-size:0px;padding:10px 25px;padding-top:10px;padding-bottom:20px;word-break:break-word;')
                    table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:separate;line-height:100%;')
                      tr
                        td(align='center' bgcolor='#f1592a' role='presentation' style='border:none;border-radius:3px;color:#ffffff;cursor:auto;padding:15px 25px;' valign='middle')
                          a(href='https://bookhood.netlify.app/' style='text-decoration:none' target='_blank')
                            p(style="color:#ffff;font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;")
                              | Visit Our Website
                tr
                  td(align='left' style='font-size:0px;padding:10px 25px;word-break:break-word;')
                    div(style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:20px;text-align:left;color:#283655;")
                      | Best regards,
                      br
                      br
                      | Team 
                      strong Globe Ramblers,
                      br
                      a(href='https://globeramblers.netlify.app/' target='_blank' style='color:#ffff') https://globeramblers.netlify.app/
  div(style='Margin:0px auto;max-width:600px;')
    table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;')
            .mj-column-per-100.outlook-group-fix(style='font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:bottom;width:100%;')
              table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                tbody
                  tr
                    td(style='vertical-align:bottom;padding:0;')
                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' width='100%')
                        tr
                          td(align='center' style='font-size:0px;padding:0;word-break:break-word;')
                            div(style="font-family:'Helvetica Neue',Arial,sans-serif;font-size:12px;font-weight:300;line-height:1;text-align:center;color:#575757;")
                              | @BookHood
